<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="online.himakeit.skylark">

    <!-- Required -->
    <permission
        android:name="online.himakeit.skylark.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required  官方定义的权限，允许应用接收JPUSH内部代码发送的广播消息。-->
    <uses-permission android:name="online.himakeit.skylark.permission.JPUSH_MESSAGE" />
    <!--允许应用可以接收点亮屏幕或解锁广播。-->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!--允许应用在手机屏幕关闭后后台进程仍然运行-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--允许应用读写系统设置项。-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--允许应用震动。-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--允许应用挂载/卸载 外部文件系统。-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--允许应用获取网络信息状态，如当前的网络连接是否有效。-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许应用可以访问网络。-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许应用写入外部存储。-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许应用读取外部存储。-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--允许应用访问手机状态。-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/skylark"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

        <activity
            android:name=".activity.SplashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChooseFileActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChooseReceiverActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FileReceiverActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FileSenderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReceiverWaitingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebTransferActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TopNewsDescribeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ZhiHuDescribeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GankMeiZhiAcitvity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/translucent" />
        <activity
            android:name=".activity.WebActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.KuaiChuanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FxcSalaryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mob.BankCardActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.CarListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.ChineseCalendarActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.CookMenuActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.CookListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.CookDetailsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.CurrencyRateActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.DictionaryActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.DrivingExamActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.FlightActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.FlightListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.FootballLeagueActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.GlobalStockActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.GoldDataActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.HealthActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.HistoryTodayActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.IDCardQueryActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.IdiomActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.IPQueryActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.LotteryCategoryActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.OilPriceActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.PhoneAddressActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.PiaoFangVipActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.PostCodeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.PreciousMetalActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.SilverDataActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.TrainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.TrainListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.mob.WXArticleActivity"
            android:launchMode="singleTask" />


        <receiver android:name=".receiver.AlarmReceiver">
            <intent-filter>
                <action android:name="com.skylark.myapplication.alarm" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.KeepAlarmLiveReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59cca78ae88bad241d00006d" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!-- 极光推送  start -->
        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="online.himakeit.skylark.DataProvider"
            android:exported="true" />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="online.himakeit.skylark" />
            </intent-filter>

        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="online.himakeit.skylark" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle"></activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="online.himakeit.skylark" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".receiver.MyJPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="online.himakeit.skylark" />
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调-->
        <receiver android:name=".receiver.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="online.himakeit.skylark"></category>
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="d89d099b8ade6a6db0d2423a" /> <!--  </>值来自开发者平台取得的AppKey-->
        <!-- 极光推送  END -->

    </application>

</manifest>
