<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="online.himakeit.love">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_favorite_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_favorite_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.DecideActivity"
            android:label="你的决定"/>
        <activity android:name=".activity.DeveloperActivity"
            android:label="开发信息"/>
        <activity android:name=".activity.YouinmyeyesActivity"
            android:label="我眼中的你"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.YourdecideActivity"
            android:label="你的决定"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a0b84898f4a9d4210000461"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>
    </application>

</manifest>